body {
   height: 90vh; /* Ensures the button fills the entire body height*/
}

/* Add wrapper div around a button in order to center it */
.button-wrapper {
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    position: relative;
    
}

/* Modify existing button class */
.myBtn {
    background:url("https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg&w=767") no-repeat;
    background-size: cover;
    cursor: grab;
    border: none;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 23%; /* So that image on buttons doesnt touch sidebar*/
    text-align: center;
}

/* When clicked by user*/
.myBtn:active {
    /* background:url("https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/d/domestic-dog_thumb.jpg") no-repeat; */
    background-image: none;
    cursor: grabbing;
    
}