body {
   height: 90vh; /* Ensures the button fills the entire body height*/
}

/** 
  * Add wrapper div around a button in order to center it 
  * DONT CHANGE THIS: it maintains the position of the button 
  * in the center and not touching the sidebar
  */
.button-wrapper {
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    position: relative;
    
}

/** 
  * Modify existing button class
  * Change 'width' and 'height' to modify the size of the button
  */
.myBtn {
    background:url("https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg&w=767") no-repeat;
    background-size: cover;
    cursor: grab;
    border: none;
    /*Size of button*/
    width: 40%;
    height: 40%;
    /* So that image on buttons dont touch sidebar and have space between themselves*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 23%; /*For side bar*/
    margin: 2% ; /*between buttons*/
    /*Button text is centered*/
    text-align: center; 
    /*Allows multiple buttons on same page to automatically not overlap*/
    position: relative; 
    display: inline-block;
}

/* When clicked by user*/
.myBtn:active {
    /* background:url("https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/d/domestic-dog_thumb.jpg") no-repeat; */
    background-image: none;
    cursor: grabbing;
        
}