/** 
  * Add wrapper div around an interface (for texting or emailing) 
  * in order to center it.
  * DONT CHANGE THIS: it maintains the position of the 
  * texting/emailing interface in the center and not 
  * touching the sidebar
  */
.interface-wrapper {
    justify-content: center;
    text-align: center; 
    align-items: center;
    position: relative;
    width: 70%;
    height: 100%;
    /* Start off hidden and reveal after button click */
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 23%; /*For side bar*/   
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select, textarea {
    width: inherit;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}