<head>
    <link rel="icon" href="../static/images/cellphone-texting.png"> 
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/common.css">
</head>

<body>
    <div id="flashed-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <!-- <h1>Alerts:</h1> -->
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </div>
</body>
