<!DOCTYPE html>
<html>

<head>
    <!-- Tab's Texting Icon (favicon) -->
    <link rel="icon" href="../static/images/cellphone-texting.png">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/button.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/contactList.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/dropdown.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/formInterface.css">
    <title>{{ title }}</title>
</head>

<body>
    <div class="page-container">
        <!-- <div class="button-wrapper sidebar-neighbor"> -->
        {% include "sidebar.html" %}
        <div class="sidebar-neighbor page-content-container">
            <div class="row flex-inline button-wrapper height-25 vertical-margins-med"> <!--Combine multiple items on same flex line-->
                <button class="redBtn" id="text-send-button">Send Text</button>
                <button class="redBtn" id="text-receive-button">Receive Text</button>
                <button class="redBtn" id="add-contact-button">Add Contact</button>
            </div>
            <div class="row flex-inline vertical-margins-med">
                <div class="contact-list" id="Contact-List">
                    <div>Current Contact List:</div>
                    <pre class="contact-list-json">{{ contacts }}</pre>
                </div>
            </div>
        </div>
        {% include "TextingForm.html" %}
    </div>
</body>

<script type="module" src="../static/js/external/jquery.js"></script>
<script src="../static/js/external/socket.io.min.js"></script>
<script type="module" src="../static/js/socketHandler.js"></script>
<script type="module" src="../static/js/formManager.js"></script>
<script type="module" src="../static/js/dropdown.js"></script>
<script type="module" src="../static/js/utils.js"></script>
<script type="module" src="../static/js/contactList.js"></script>
<script type="application/json" src="../static/urls.json"></script>

</html>