body {
   height: 90vh; /* Ensures the button fills the entire body height*/
}

.button-wrapper {
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: center;
  /* Space for Contact List */
  /* margin-bottom: 3%; */
}

.redBtn {
  /* Background related fields  */
  background:url(../images/red-button.png) no-repeat;
  background-position: center;
  background-size: contain;
  cursor: grab;
  border: none;
  text-emphasis: bold;

  /* Center Text */
  justify-content: center;
  align-items: center;

  /* Text Size */
  font-size: large;
  /* Line breaks for words causes size (height & thus width) to be different between buttons */
  white-space: nowrap;

  /*Size & Postioning of button*/
  display: flex;
  width: fit-content;
  object-fit: cover;
  width: fit-content;
  height: fit-content;
  /* Padding makes button become large (also influenced by font-size */
  /* Use view-xxxx to make size remain relatively constant */
  padding: 7vw;
}

/* Design on hover mechanic that makes the button *appear* to get darker */
/* Opacity 1 = normal (0 = invisible) */
.redBtn-overlay {
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  width: fit-content;
}

.redBtn-overlay {
  opacity: .80;
}

.redBtn-overlay:hover {
  opacity: 1;
}

/* On click */
.redBtn-overlay:active .redBtn:active {
  cursor: grabbing;
}
