/* 
    Purpose make the selected option in dropdown small and include "..." for leftover 
    Allows individual options to grow to their size
*/
.dropdown-min-width {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
}
