[Unit]
Description=Run the Email & Texting Agent Web Application
After=network-online.target
Requires=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/webAppEnviron
ExecStart=/bin/bash ${emailWebAppRootDir}/startScripts/startWebApp.sh --port 65501
RestartSec=1min

[Install]
WantedBy=multi-user.target
