altgraph==0.17
click==7.1.2
Flask==2.3.2
Flask-Login==0.5.0
Flask-SocketIO==4.3.1
Flask-WTF==0.14.3
fleep==1.0.1
future==0.18.2
is-safe-url==1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pefile==2019.4.18
PyInstaller==5.13.1
pymongo==3.10.1
pynput==1.6.8
python-engineio==3.13.1
python-socketio==4.6.0
pywin32-ctypes==0.2.0
six==1.15.0
Werkzeug==1.0.1
WTForms==2.3.1
