<!DOCTYPE html>
<html>
<head>
    <!-- Tab's Texting Icon (favicon) -->
    <link rel="icon" href="http://www.newdesignfile.com/postpic/2014/09/mobile-phone-text-message-icon_216794.png"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}">
    <script src="{{ url_for('static', filename='button.js') }}"></script> <!--Button functions-->
    <script src="{{ url_for('static', filename='jquery.js') }}"></script> <!--Jquery include-->
    <title>{{ title }}</title>    
</head>

<body>
    <div class="button-wrapper">
        <button class="myBtn" onclick="buttonPostRequest('{{ links.textpage }}')">{{ buttons.textButtons.send }}</button>
        <button class="myBtn" onclick="buttonPostRequest('{{ links.emailpage }}')">Test button</button>
    </div> <!-- End of container -->
</body>
</html>