<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='formInterface.css') }}">
    <script src="{{ url_for('static', filename='formProcessor.js') }}"></script>
</head>

<!--Use wrapper to hide the form until the button is clicked-->
<div class="interface-wrapper" id='Texting-Form-Wrapper'>
    <!--Use POST to make site inaccessible and protect data by not adding it to url-->
    <form id='Texting-Form' method="POST">
        <div class="row">
            <div class="col-25">
                <label for="firstName">First Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="firstName" name="firstname" placeholder="Receiver first name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lastName">Last Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="lastName" name="lastname" placeholder="Receiver last name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="emailAddress">Email Address</label>
            </div>
            <div class="col-75">
                <input type="text" id="emailAddress" name="emailAddress" placeholder="Your emailAddress address (leave blank to use default sender)">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="message">Your Message</label>
            </div>
            <div class="col-75">
                <textarea id="message" name="message" placeholder="Write something.."
                    style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <!--Use submit button's id in js to know when to get data-->
            <input type="submit" value="Submit" id="Text-Form-Submit-Button" onclick="parseForm('Texting-Form', '{{ forms.textForm }}' )">
        </div>
    </form>
</div>